<div class="dashboard" [ngClass]="{ 'dark-theme': isDarkTheme, 'light-theme': !isDarkTheme }">
  <h1 class="dashboard-title">Dolar Chart Dashboard</h1>
  <mat-grid-list cols="4" rowHeight="150px">
    <mat-grid-tile *ngFor="let dolar of dolares">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{ dolar.nombre }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Compra: {{ dolar.compra }}</p>
          <p>Venta: {{ dolar.venta }}</p>
          <p>Fecha de Actualización: {{ dolar.fechaActualizacion | date: 'short' }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
