<div>
  <!-- Aquí puedes agregar el encabezado de tu aplicación si lo tienes -->
  <!-- <app-header></app-header> Ejemplo de un componente de encabezado -->
  <!-- <mat-slide-toggle (change)="toggleTheme()">Toggle Dark Mode</mat-slide-toggle> -->

  <router-outlet></router-outlet> <!-- Este es el espacio donde se renderizarán los componentes del enrutador -->

  <!-- Aquí puedes agregar el pie de página de tu aplicación si lo tienes -->
  <!-- <app-footer></app-footer> Ejemplo de un componente de pie de página -->
</div>
