/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body, app-root {
    overflow-x: hidden; /* Oculta el scroll horizontal */
    overflow-y: hidden; /* Oculta el scroll vertical */
}  